body{
	background-image: url(https://github.com/stojan2/fotos/blob/main/hintergrundgaming.jpg?raw=true);
	background-position-x: left;
	background-position-y: top;
	color : white;
	width: 80%;
	background-repeat: repeat-y;
	background-size: 100% 100%;
	margin-left: 10%;
}


h1{
	color: white;
}

#text{
	margin-left: 10%;
}

a{
	color: blue;
}

#name{
	color: green;
}

#uberschrift{
	margin-left: 30%;
	font-size: 80px;
}

#download{
	margin-left: 15%;
	font-size: 90px;
}