body{
    background-position-x: left;
    background-position-y: top;
    text-align: center;
    color: white;
    background-color: black;
    background-image: url('bilder/seitehintergrund.png');
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;

    background-repeat: repeat-y;
	background-size: 100vw 100vw;
}

h1{
 font-size: 5vw;
}

h2{
    font-size: 2vw;
}


#names{
    color: red;
}
#windowsDownloadButton{
    transform: scaleX(250%);
}
#windowsDownloadText{
    margin-top: -5vw;
    font-size: 3vw;
    transform: scaleX(100%);
}

#discord{
    width: 5vw;
    height: 5vw;
}


#gamewindow{
    margin-left: 0%;
    margin-top: 10vh;
    margin-right: 0%;
    margin-bottom: 10vh;
}

#contacts{
    background-color: black;
    width: 100vw;
    margin-left: -20%;
    margin-right: -20%;
    margin-bottom: -5vw;
}

