body {
    background-position-x: left;
    background-position-y: top;
    font-family: "Helvetica Neue", sans-serif;
    background-image: url('1587216240_14-p-zadnie-foni-dlya-saitov-53.jpg');
    background-repeat: repeat-y;
    background-size: 100vw;
    margin: 0;
    width: 100%;
    padding: 0;
}

#inBody{
    width: 60vw;
    margin-left: 20vw;
}

#preloader{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
  position: fixed;
  z-index: 2;
}

#preloaderBackground{
    background-color: black;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    z-index: 1;
}

#preloaderText{
    color: blue;
    font-size: 5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30%;
    position: fixed;
    z-index: 2;
}

#normalText{
    color: white;
}


#icons{
    width: 5vh;
    height: 5vh;
}

#ava{
    transform: translate(0,3vh);
    margin-top: 3vh;
    width: 5vh;
    height: 5vh;
}
